<div class="nav-bar">
    <nav>
        <a (click)="scrollToTop()"><img alt="home icon" src="../../assets/images/home-icon.svg"></a>
        <a (click)="scrollToPortfolio()"><img alt="project icon" src="../../assets/images/project-icon.svg"></a>
        <a (click)="scrollToAbout()"><img alt="about me icon" src="../../assets/images/about-icon.svg"></a>
        <a (click)="scrollToTools()"><img alt="skills icon" src="../../assets/images/gear.svg"></a>
        <a (click)="scrollToContact()"><img alt="contact icon" src="../../assets/images/contact-icon.svg"></a>
    </nav>
</div>
