<section class="container projects" id="projects">
    <div class="title">
        <div class="background-title">Portfolio</div>
        <div class="small-title" data-0="background-color:rgb(0,0,255);" data-500="background-color:rgb(255,0,0);">Here is my latest work</div>
    </div>

    <div class="projects-list">
        <div class="project">
            <div class="background-img parallax-window" data-parallax="scroll" data-image-src="../../assets/images/mobelite.png">

            </div>
            <div class="title">Site web Mobelite</div>
            <a href="https://www.mobelite.fr/" class="btn">See more details</a>
            <div class="tech">
                <span>refonte</span>
                <span>responsive</span>
            </div>
            <img class="logo-img" alt="" src="../../assets/images/logo_mobelite.png">
            <div class="transp"></div>
        </div>
        <div class="project">
            <div class="background-img parallax-window" data-parallax="scroll" data-position-x="top" data-image-src="../../assets/images/cdp.png"></div>
            <div class="title">Chapeau de paille</div>
            <a href="https://www.chapeaudepaille.fr/" class="btn">See more details</a>
            <div class="tech">
                <span>refonte</span>
                <span>responsive</span>
            </div>
            <img class="logo-img" alt="" src="../../assets/images/logo-cdp.png">
            <div class="transp"></div>

        </div>
        <div class="project">
            <div class="background-img parallax-window" data-parallax="scroll" data-position-x="top" data-image-src="../../assets/images/influence.png"></div>
            <div class="title">Influence Furniture</div>
            <a href="https://www.influencefurniture.com/" class="btn">See more details</a>

            <div class="tech">
                <span>wordpress</span>
                <span>responsive</span>
            </div>
            <img class="logo-img" alt="" src="../../assets/images/influence-logo.png">
            <div class="transp"></div>

        </div>
        <div class="project">
            <div class="background-img parallax-window" data-parallax="scroll" data-position-x="top" data-image-src="../../assets/images/plessis.png"></div>
            <div class="title">Le marché du plessis</div>
            <a href="https://www.cueilletteduplessis.com/marche/" class="btn">See more details</a>

            <div class="tech">
                <span>wordpress</span>
                <span>responsive</span>
            </div>
            <img class="logo-img" alt="" src="../../assets/images/logo-plessis.png">
            <div class="transp"></div>
        </div>
    </div>


</section>

