.intro {

  .scroll-down {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 60px;
    z-index: 9;
    text-align: center;

    .chevron {
      position: absolute;
      width: 28px;
      height: 8px;
      opacity: 0;
      transform: scale3d(0.5, 0.5, 0.5);
      animation: move 3s ease-out infinite;

      &:first-child {
        animation: move 3s ease-out 1s infinite;
      }

      &:nth-child(2) {
        animation: move 3s ease-out 2s infinite;
      }

      &:before,
      &:after {
        content: ' ';
        position: absolute;
        top: 0;
        height: 100%;
        width: 51%;
      }

      &:before {
        left: 0;
        transform: skew(0deg, 30deg);
        background: #fff;

      }

      &:after {
        right: 0;
        width: 50%;
        transform: skew(0deg, -30deg);
        background: #F7786B;

      }
    }

    @keyframes move {
      25% {
        opacity: 1;

      }

      33% {
        opacity: 1;
        transform: translateY(30px);
      }

      67% {
        opacity: 1;
        transform: translateY(40px);
      }

      100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
      }
    }

    .text {
      display: block;
      margin-top: 75px;
      margin-left: -30px;
      font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
      font-size: 12px;
      color: #fff;
      text-transform: uppercase;
      white-space: nowrap;
      opacity: .25;
      animation: pulse 2s linear alternate infinite;
    }

    @keyframes pulse {
      to {
        opacity: 1;
      }
    }
  }

  &.transition-on {

    .scroll-down {
      left: 90%;

      .chevron {
        &:after {
          background: #ffffff;

        }
      }
    }

    .introduction {
      opacity: 1;
    }


    .overlay,
    .overlay-cliped {
      width: 100%;
    }

  }

  .introduction {
    font-family: 'poppinsbold';

    .text {
      font-size: 60px;
      margin-bottom: 30px;
    }

    .contact {
      color: #ffffff;
      margin-top: 20px;
      font-family: poppinsregular;
      font-weight: 600;

      &:before {
        content: "";
        width: 35px;
        height: 6px;
        background-color: black;
        display: inline-block;
        margin-bottom: 2px;
        margin-right: 10px;
      }

      a {
        font-family: poppinsregular;
        font-weight: 600;
        text-decoration: none;
        color: #ffffff;
        border-bottom: 2px solid #ffffff;

        &:hover,
        &:active {
          color: #000000;
          border-bottom: 2px solid #000000;
        }
      }
    }

    .function {
      font-size: 58px;
      color: #ffffff;
    }

  }

  h1 {
    span {
      color: #F7786B;
    }

  }

  .overlay {
    background-color: #F7786B;
    width: 50%;
    height: 100%;
    transition: all 1s ease-in-out;

  }

  .overlay-cliped {
    background-color: #F7786B;
    width: 50%;
    transition: all 1s ease-in-out;
    height: 100px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 0%);
  }
}

.main {
  padding-top: 100px;

  section {
    .paragraph {
      line-height: 1.6;
      color: #716868;

    }
  }
}

.tools {
  margin-top: 80px;

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    justify-items: center;
    align-items: center;

    .item {
      position: relative;

      span {
        position: absolute;
        top: 30%;
        font-size: 11px;
        padding: 6px 10px;
        transform: translateX(-50%);
        left: 50%;
        margin-top: 10px;
        font-weight: 500;
        white-space: nowrap;
        color: #000;
        border-radius: 50px;
        background-color: #fff;
        box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
          0 5px 15px rgba(0, 0, 0, 0.07);

        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        opacity: 0;
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        span {
          top: 100%;
          opacity: 0.9;
        }
      }
    }
  }
}

.skills {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
  }

  #pyramid {
    position: relative;
    margin-top: -80px;
    right: -37%;
    height: 500px;
    width: 100px;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: spin 10s linear infinite;
    -webkit-transform-origin: 116px 200px 116px;
    -moz-transform-style: preserve-3d;
    -moz-animation: spin 10s linear infinite;
    -moz-transform-origin: 116px 200px 116px;
    -ms-animation: spin 10s linear infinite;
    -ms-transform-origin: 116px 200px 116px;
    transform-style: preserve-3d;
    animation: spin 10s linear infinite;
    transform-origin: 116px 200px 116px;

    &>div {
      position: absolute;
      border-style: solid;
      border-width: 200px 0 200px 346px;
      -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      transform-origin: 0 0;

      &:after {
        position: absolute;
        color: #fff;
        left: -311px;
        top: -69px;
        text-align: center;
        opacity: .6;
      }

      &:first-child {
        border-color: transparent transparent transparent rgba(115, 112, 112, .6);
        -webkit-transform: rotateY(-19.5deg) rotateX(180deg) translateY(-400px);
        -moz-transform: rotateY(-19.5deg) rotateX(180deg) translateY(-400px);
        -ms-transform: rotateY(-19.5deg) rotateX(180deg) translateY(-400px);
        transform: rotateY(-19.5deg) rotateX(180deg) translateY(-400px);

        &:after {
          position: absolute;
          content: url(../assets/images/html5.png);
        }
      }

      &:nth-child(2) {
        border-color: transparent transparent transparent rgba(115, 112, 112, .6);
        -webkit-transform: rotateY(90deg) rotateZ(60deg) rotateX(180deg) translateY(-400px);
        -moz-transform: rotateY(90deg) rotateZ(60deg) rotateX(180deg) translateY(-400px);
        -ms-transform: rotateY(90deg) rotateZ(60deg) rotateX(180deg) translateY(-400px);
        transform: rotateY(90deg) rotateZ(60deg) rotateX(180deg) translateY(-400px);

        &:after {
          position: absolute;
          content: url(../assets/images/css.png);
        }
      }

      &:nth-child(3) {
        border-color: transparent transparent transparent rgba(115, 112, 112, .9);
        -webkit-transform: rotateX(60deg) rotateY(19.5deg);
        -moz-transform: rotateX(60deg) rotateY(19.5deg);
        -ms-transform: rotateX(60deg) rotateY(19.5deg);
        transform: rotateX(60deg) rotateY(19.5deg);

        &:after {
          position: absolute;
          content: url(../assets/images/js.png);
        }
      }

      &:nth-child(4) {
        border-color: transparent transparent transparent rgba(115, 112, 112, .8);
        -webkit-transform: rotateX(-60deg) rotateY(19.5deg) translateX(-116px) translateY(-200px) translateZ(326px);
        -moz-transform: rotateX(-60deg) rotateY(19.5deg) translateX(-116px) translateY(-200px) translateZ(326px);
        -ms-transform: rotateX(-60deg) rotateY(19.5deg) translateX(-116px) translateY(-200px) translateZ(326px);
        transform: rotateX(-60deg) rotateY(19.5deg) translateX(-116px) translateY(-200px) translateZ(326px);

        &:after {
          position: absolute;
          background-image: url(../assets/images/react_img.png);
          background-size: 150px 150px;
          content: '';
          width: 150px;
          left: -315px;
          height: 150px;
          top: -91px;
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

form {
  width: 500px;
  margin: 0 auto 180px auto;

  .form-group {
    width: 100%;
    margin-bottom: 10px;

    &.submit-btn {
      text-align: center;

      button {
        padding: 15px 45px;
        border-radius: 40px;
        border: unset;
        font-family: poppinsregular;
        font-size: 15px;
        color: #ffffff;
      }
    }

    .invalid-msg {
      font-size: 12px;
      color: red;
    }

    input,
    textarea {
      width: 100%;
      font-family: poppinsregular;
      font-size: 15px;
      padding: 15px;
      border-radius: 5px;
      border: 1px solid transparent;
      margin-bottom: 5px;

      &:focus {
        outline: 0;
        border: 1px solid #F7786B;
      }
    }
  }
}


@media (max-width: 1100px) {
  .intro .introduction {
    .text {
      font-size: 50px;
    }

    .function {
      font-size: 48px;
    }

    .contact {
      font-size: 12px;
    }
  }

}

@media (max-width: 770px) {
  .tools {
    margin-top: 100px;
  }

  .skills {
    .grid-container {
      display: block;
    }

    #pyramid {
      display: none;
    }
  }

  main .title {
    margin-bottom: 35px;
  }

}

@media (max-width: 640px) {
  form {
    width: auto;

    .form-group {

      input,
      textarea {
        width: 91%;
        font-size: 13px;

      }
    }
  }

  .tools .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .intro {
    .scroll-down {
      .chevron {
        width: 23px;
        height: 6px;
      }
    }

    .introduction {
      .text {
        font-size: 35px;
      }

      .function {
        font-size: 32px;
      }

      .contact {
        font-size: 11px;

        &:before {
          width: 30px;
          height: 4px;
          margin-right: 7px;
        }
      }
    }

  }
}
